@media screen and (min-width: 791px) and (max-width: 1024px) {
   /*style for Navigation bar | Top Bar---------------------------------------------*/
 * {
	  font-family:arial,Helvetica, sans-serif;
	 
  }
.lockScroll {

	overflow:hidden;
}

 .bodySecond {
	 text-align:center;
	  position:relative;
	  max-width:1024px;
	  margin:0px auto 0px auto;

}
.navbar {
	width:calc(100%-1px);
	background-color:black;
	margin:1px 1px;
	height:60px;
}
.navDivSecond {
	display:inline-block;
	width:100%;
}
.phhDiv {
	display:inline-block;
	vertical-align:top;
	margin:0px 0px 0px 20px;
	
}
.phhDiv span {
	color:white;
	font-size:15px;
	font-family:candara;
	font-weight:bold;
	
}
.blogDiv {
	display:inline-block;
	
	vertical-align:top;
	margin:0px 0px 0px 20px;
}
.blogDiv span {
	
}
.blogDiv span a {
	color:white;
	font-size:15px;
	font-family:candara;
	text-decoration:none;
	
}
.blogDiv span a:hover {
	color:blue;
	transition: 0.7s;
}
/*style for menu button*/

.MenuButton {
  display:none;
}


/*style for wesite name---------------------------------------------------- */
.websiteName {
	float:left;
	display:inline-block;
	width:20%;
	height:55px;
	margin:2px;
}
.websiteName  a img {
	margin-top:;
	width:100%;
	height:100%;
}

#MenuList {         /*Display :none and block of menu*/                 
	        
	
	width:100%;
	display:inline-block;
	text-align:center;
}
#MenuList .menuUl {
	background-color:black;
	border:1px solid white;
	width:80%;
	margin:auto;
	left: 0px;
	padding:5px;
	display:inline-block;
}
#MenuList .menuUl .menuBtn {
	float:left;
	font-family:candara;
	list-style:none;
	font-weight:bold;
	font-size:12px;
	padding:4px;
	margin:8px 1% 8px 1%; 
	display:inline-block;
}
#MenuList .menuUl .menuBtn a {
	color:white;
	text-decoration:none;
	margin:0px;
}

/*style for loginButton---------------------------------------------------------*/
.loginButton{
	margin:auto 5px auto 0px;
	display:inline-block;
	width:10%;
	height:55px;
	text-align:center;
	vertical-align:top;
}
.loginButton span  {
	margin:16px auto 0px auto;
	display:inline-block;
	text-align:center;
	width:96%;
	height:60%;
	text-decoration:none;
}
.loginButton span a {
	font-size:15px;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	background-color:white;
	color:black;
	border-radius:2px;
	padding:2px;
}
.loginButton span a:hover {
	background-color:;
	color:blue;	
}
.loginButton span a:active {
	color:red;
}




/*style for icons--------------------------------------------------------------- */
.icons {
	
	vertical-align:top;
	margin:auto auto 0px 0px;
	height:55px;
	text-align:center;
	width:80px;
	display:inline-block;
	padding:0px;
	text-align:center;
}
.icons div {
	margin:16px 3px 0px 3px;
	display:inline-block;
	height:20px;
	width:17px;
	text-align:center;
	
}
.icons div a {
	display:inline-block;
	width:100%;
	height:100%;
	color:white;
	text-decoration:none;
	padding:1px;
}
.icons div a:active {
	color:red;
}


.webbodyAndRightDiv {
	width:80%;
	border:1px solid black;
	display:inline-block;
	margin:auto;
}







/*MEnu List styling like hovering effect */

.destination:hover .destiDiv  {
	display:block;
	cursor:initial;
}
.destination .destiDiv {
	margin: 2px auto 5px auto;
	width:30%;
	position:absolute;
	display:none;                              /*Display Blockm or None of Dewstination*/
	background-color:black;
	z-index:2;

}
/*  .destination:hover .destiDiv {
	display:block;
} */
.destination .destiDiv .desti {
	text-align:center;
	border-left:0.5px solid white;
	padding:0px;
	margin:0px auto 0px auto;
	width:32%;
	top:0px;
	display:inline-block;
	height:100%;
	vertical-align:top;
	position:;
	
}

.destination .destiDiv .desti .heading {
	padding:0px;
	margin:1px auto 1px auto;
	color:white;
	background-color:#008CBA ;
	text-align:center;
	width:100%;
	font-size:14px;
	text-decoration:none;
	list-style:none;
	border-radius:1px;
}
.destination .destiDiv .desti .subDesti {
	padding:0px;
	margin:10px 10px;
	text-align:left;
	font-size:10px;
	list-style:none;
}
.destination .destiDiv .desti .subDesti a:hover {
	background-color:blue;
	padding:2px;
}
 .upArrowDesti {                       /*Style for up arrow*/ 
   transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.destination .destiP {
	text-align:center;
	
	margin: 0px 0px 0px 5px;
	display:inline-block;
	padding-top:0px;
}

/*styles for webBody-----------------------*/

.webBody {
	width:100%;
	border: 1px solid yellow;
	margin: 5px auto 0px auto;
	vertical-align:top;
	display:inline-block;
	
}
.webBody .slidesDiv {
	text-align:center;
	margin: 0px auto 0px auto;  
	border: 1px solid green;
	width:100%;
	border-radius:5px;
	position:;
	z-index:0;
}
.slideshow-container {
	position: relative;
	z-index:0;
}

.mySlides {
	display: none;
	z-index:0;
}
.mySlides img {
	border-radius:5px;
	padding:5px;
	margin:auto;
	text-align:center;
	width:90%;
	height:27em;
	z-index:0;	
}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 10px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	z-index:0;
	background-color: rgba(0,0,0,0.5);
	user-select:none;
}
.prev {
	left: 5%;
	border-radius: 3px 0 0 3px;
}
/* Position the "next button" to the right */
.next {
	right: 5%;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.9);
}
.prev:active, .next:active {
	
}
/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}
@-webkit-keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.lowerBody {
	width:100%;
	border-radius:5px;
	margin:auto;
	text-align:center;
	border:1px solid red;
	background-color:ghostwhite;
}
.spDiv {
	background-color:royalblue;
}
#specialPackages {
	width:70%;
	text-align:center;
	display:inline-block;
	user-select:none;
	font-weight:bold;
	font-family:candara;
	color:white;
	font-size:30px;
}
.bodySecond .packageWholeDiv {
	width:100%;
	text-align:center;
	margin:auto;
}
.bodySecond .PackageColumn {
	max-width:30%;
	margin:5px;
	display:inline-block;
	vertical-align:top;
}
.bodySecond .PackageColumn .packageBox {
	background-color:lightcyan;
	width:100%;
	border-radius:4px;
	text-align:center;
	margin:auto;
	display:inline-block;
}
.imageDiv {
	position:relative;
}
.PlaceTagDiv {
	position:absolute;
	top:0;
	left:0;
	width:80%;
	
}
.PlaceTagDiv #PlaceName {
	font-weight:bold;
	color:white;
	background-color:black;
	margin:0px;
	font-size:25px;
	border-bottom-right-radius:10px;
	user-select:none;
}

.bodySecond .packageBox img {
	width:100%;
	height:270px;
	border-radius:2px;
} 
.daysAndPrice {
	position:absolute;
	bottom:4px;
	left:0;
	width:100%;
}
#DandN {
	background-color: darkviolet; /**/
	font-size:20px;
	border-radius:1px;
	color:white;
	user-select:none;
	padding:5px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	margin:0px;
	float:left;
	border:0.5px solid white;
}
#price {
	background-color: darkviolet; /**/
	font-size:20px;
	border-radius:1px;
	color:white;
	user-select:none;
	padding:5px;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	float:right;
	margin:0px;
	border:0.5px solid white;
}
.bodySecond .PackageColumn .packageBox .packageFooter {
	
	width:100%;
	height:40px;
	vertical-align:bottom;
}

.bodySecond .PackageColumn .packageBox .packageFooter #moreInfo {
	display:inline-block;
	background-color:#4CAF50; /*green color*/
	float:left;
	font-size:15px;
	padding:5px;
	margin:5px; 
	font-weight:bold;
	text-decoration:none;
	border-radius:4px;
	color:white;
	user-select:none;
}
.bodySecond .PackageColumn .packageBox .packageFooter #moreInfo:hover {
	background-color:#008F11;   /*Shady Green*/
}
 .bodySecond .PackageColumn .packageBox .packageFooter #moreInfo:active	{
	background-color:red;
	border-top:1px solid green;
}

.bodySecond .PackageColumn .packageBox .packageFooter #Book {
	display:inline-block;
	background-color:#F62217; /*green color*/
	float:right;
	font-size:15px;
	padding:4px;
	margin:5px; 
	font-weight:bold;
	text-decoration:none;
	border-radius:4px;
	color:white;
	user-select:none;
}
.bodySecond .PackageColumn .packageBox .packageFooter #Book:hover {
	background-color:red;   /*Shady Green*/
}
 .bodySecond .PackageColumn .packageBox .packageFooter #Book:active	{
	background-color:green;
	border-top:1px solid red;
}







.rightDiv {

	width:35%;
	text-align:center;
	border:1px solid blue;
	margin: auto;
	display:inline-block;
}
/*Callback form */
.enqDiv {
	text-align:center;
	width:100%;
	display:inline-block;
}
.enqformDiv {
	text-align:enter;
	margin:5px auto 10px auto;
	border:;
	width:98%;
	border-radius:5px;
}
.enqformDiv #requestCallBack {
	width:70%;
	margin: 10px auto 10px auto;
	user-select:none;
	font-weight:bold;
	background-color:#fc63ff;
	
}
.enqDiv .enqformDiv .form {
	text-align:center;
	background-color:#00bfaf;
	width:100%;
	margin:0px auto 0px auto;
	border-radius:5px;
}
.enqDiv .enqformDiv .form .callBackInput {
	height:16px;
	border:1px solid blue;
	background-color:#d9dbff;
	
	padding:5px;
	width:70%;
}
.enqDiv .enqformDiv .form #submit {
	color:white;
	background-color:#1eb024;
	border:none;
	width:65px;
	height:30px;
	font-size:15px;
	font-weight:bold;
	border-radius:4px;
	margin:10px;
	cursor:pointer;
	outline:none;
	text-align:center;
}
.enqDiv .enqformDiv .form #submit:hover {
	border-right:1px solid green;
	border-bottom:1px solid green;
	background-color:#008F11;   /*Shady Green*/
}
.enqDiv .enqformDiv .form #submit:active {
	
	background-color:red;
	border-top:2px solid green;
	border-right:none;
	border-bottom:none;
	border-left:2px solid green;
}
/*Footer Styles*/
.footer {
	
	background-color:rgba(60, 60,60);
	width:100%;
	color:white;
	text-align:center;
}
.topDestinations, .footLinks, .newsLetter, .copyright {
	
}


.footer .topDestinations .fa {
	 width: 20px;
	padding:0px;
	border-radius:2px;
	margin:5px 5px;
}
.footer .topDestinations {
	width:29%;
	border:1px solid white;
	display:inline-block;
	background-color:black;
	vertical-align:top;
	height:180px;
}
.footer .topDestinations #topDestinationHeading {
	font-size:20px;
	font-weight:bold;
	-ms-user-select: none; 
     user-select: none; 
}
.footer .topDestinations div {
	width:55%;
	margin:auto;
	text-align:left;
	display:inline-block;
}
.footer .topDestinations div a {
	color:white;
	text-decoration:none;
	margin:0px;
	padding:0px;
	cursor:pointer;
	user-select:none;
}
.footer .topDestinations div a:hover {
	color:red;
	font-size:17px;
	background-color:black;
	transition:0.1s;
}
.footer .topDestinations div a span {
	color:red;
	margin:0px;
}



.footer .footLinks {
	width:30%;
	border:1px solid white;
	display:inline-block;
	background-color:black;
	text-align:center;
	vertical-align:top;
	height:180px;
}
.footer .footLinks  #linksHead {
	font-size:20px;
	font-weight:bold;
	-ms-user-select: none; 
     user-select: none; 
	 text-align:center;
}
.footer .footLinks .footLinksInnerDiv {
	width:100%;
	text-align:center;
}
.footer .footLinks #LinkInnerDivFirst {
	display:inline-block;
	margin:auto;
	text-align:left;
	width:31%;
	vertical-align:top;
}
.footer .footLinks #LinkInnerDivSecond {
	display:inline-block;
	margin:auto;
	text-align:left;
	width:30%;
	vertical-align:top;
}
.footer .footLinks #LinkInnerDivThird {
	display:inline-block;
	margin:auto;
	text-align:left;
	width:31%;
}
.footer .footLinks a {
	color:white;
	text-decoration:none;
	font-size:12px;
	vertical-align:top;	
}
.footer .footLinks a:hover { color:blue; transition:0.7s;
}



.footer .newsLetter {
	width:29%;
	border:1px solid white;
	display:inline-block;
	background-color:black;
	vertical-align:top;
	height:180px;
}
.footer .newsLetter #newdLetterHeading {
	font-size:20px;
	font-weight:bold;
	color:white;
	-ms-user-select: none; 
     user-select: none; 
}
.footer .newsLetter #subHeadingNewsLetter {
	font-size:13px;
	margin:0px;
	-ms-user-select: none; 
     user-select: none; 
}
.footer .newsLetter #newdLetterEmail {
	margin:10px 10px;
	margin:0px;
}
.footer .newsLetter div {
	margin:auto;
	width:200px;
	height:30px;
}
.footer .newsLetter div input[type="email"] {
	float:left;
	display:inline-block;
	margin:0px 0px 0px 5px;
	border:0.5px solid pink;
	background-color:#d9dbff;
	height:30px;
	padding:0px;
	width:160px;
}
.footer .newsLetter div input[type="email"]:hover {
	opacity:0.8;
}
.footer .newsLetter div input[type="email"]:focus {
	outline:none;
	opacity:1;
}
.footer .newsLetter div .subscribe {
	float:right;
	border:0.5px solid pink;
	display:inline-block;
	font-size:25px;
	color:red;
	margin:0.5px 5px 0px 0px;
	padding:0px;  
	background-color:yellow;
	width:30px;
	height:30px;
}
.footer .newsLetter div .subscribe:hover {
	border-top:1px solid yellow;
	opacity:0.9;
}
.footer .newsLetter div .subscribe:active {
	opacity:1;
	border-top:3px solid gold;
	border-bottom:none;
}
.footer .newsLetter div .subscribe:focus {
	outline:none;
}
.footer .copyright p {
	color:white;
	font-size:9px;
	margin:0px 0px;
}
.footer .copyright p a {
	color:orange;
	font-size:11px;
	text-decoration:none;
}
.footer .copyright {
	
	text-align:center;
	padding:5px 5px;
	background-color:black;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}










.leftIcons {
	position:fixed;
	left:0;
	top:20vh;
	width:50px;
}

.leftIcons div  {
	float:left;
	display:inline-block;
	margin-bottom:0.5px;
	
}
.leftIcons div a {
	font-size:35px;
	width:35px;
	height:35px;
	padding:5px;
	text-decoration:none;
	color:white;
}
.leftIcons div a:hover {
	padding-left:15px;
	padding-right:15px;
	transition:0.7s;
}

#leftFacebook {
	background-color:#3b5998;
	color:white;
	
}
#leftInstagram {
	background-color:#3f729b;
	color:white;
}
#leftTwitter {
	background-color:#00acee;
	color:white;
}
#leftWhatsapp {
	background-color:green;
}



















}